.header {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
  top: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  max-width: 13rem;
  padding: 0.5rem 0;
}

.login {
  color: #fff;
  display: flex;
  align-items: center;
  background: #009adf;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.login:hover {
  background: #002639;
  transition: .3s;
}

.conta {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #002639;
}

.conta:hover {
  color: #009adf;
}

.conta a{
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #002639;
}

.conta a:hover {
  color: #009adf;
}
